<h1>Film</h1>
<h4>{{ ctrl.movies.length }} in {{ ctrl.pagination.numPages }} pagine</h4>
<input type="text" class="form-control" ng-model="filtro" placeholder="Filtra">

<ul class="pager">
  <li class="previous" ng-class="{disabled: ctrl.pagination.page == 0}"><a href="javascript:void(0)" ng-click="ctrl.pagination.firstPage()">&larr; Prima pagina</a></li>
  <li class="next" ng-class="{disabled: ctrl.pagination.page == ctrl.pagination.numPages - 1}"><a href="javascript:void(0)" ng-click="ctrl.pagination.lastPage()">Ultima pagina &rarr;</a></li>
</ul>

<ul class="pagination">
	<li ng-class="{disabled: ctrl.pagination.page == 0}"><a href="javascript:void(0)" ng-click="ctrl.pagination.prevPage()">&laquo;</a></li>

	<li ng-repeat="n in [] 
			| range: ((ctrl.pagination.page > ctrl.pagination.range) ? ctrl.pagination.page - ctrl.pagination.range : 0 ) : 
			((ctrl.pagination.page < ctrl.pagination.numPages - ctrl.pagination.range) ? ctrl.pagination.page + ctrl.pagination.range : ctrl.pagination.numPages - 1)" 
			ng-class="{active: n == ctrl.pagination.page}">
	    <a href="javascript:void(0)" ng-click="ctrl.pagination.toPageId(n)">{{n + 1}}</a>
	</li>

	<li ng-class="{disabled: ctrl.pagination.page == ctrl.pagination.numPages - 1}"><a href="javascript:void(0)" ng-click="ctrl.pagination.nextPage()">&raquo;</a></li>
</ul>

<table class="table table-hover">
	<tr>
		<th>Titolo</th>
		<th>Posizione</th>
	</tr>
	
	<tr ng-repeat="movie in ctrl.movies | filter: filtro | startFrom: ctrl.pagination.page * ctrl.pagination.perPage | limitTo: ctrl.pagination.perPage">
		<td><a href="#/movie/{{ movie.id }}">{{ movie.titolo }}</a></td>
		<td>{{ movie.posizione }}</td>
		<!--td>
			<ul>
				<li class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Aggiungi a <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li ng-repeat="lista in ctrl.liste"><a href="#/liste/associa/{{ movie.id }}/{{ lista.id }}">{{ lista.nome }}</a></li>
					</ul>
				</li>
			</ul>
		</td-->
	</tr>
</table>

<ul class="pagination">
	<li ng-class="{disabled: ctrl.pagination.page == 0}"><a href="javascript:void(0)" ng-click="ctrl.pagination.prevPage()">&laquo;</a></li>

	<li ng-repeat="n in [] 
			| range: ((ctrl.pagination.page > ctrl.pagination.range) ? ctrl.pagination.page - ctrl.pagination.range : 0 ) : 
			((ctrl.pagination.page < ctrl.pagination.numPages - ctrl.pagination.range) ? ctrl.pagination.page + ctrl.pagination.range : ctrl.pagination.numPages - 1)" 
			ng-class="{active: n == ctrl.pagination.page}">
	    <a href="javascript:void(0)" ng-click="ctrl.pagination.toPageId(n)">{{n + 1}}</a>
	</li>

	<li ng-class="{disabled: ctrl.pagination.page == ctrl.pagination.numPages - 1}"><a href="javascript:void(0)" ng-click="ctrl.pagination.nextPage()">&raquo;</a></li>
</ul>
