<h1>Nuovo Film</h1>

<p class="bg-success alert" ng-show="ctrl.submitStatus">{{ ctrl.messaggio }}</p>

<form class="form-horizontal" role="form" name="ctrl.nuovofilm_form">
  <div class="form-group">
    <label for="inputTitolo" class="col-sm-2 control-label">Titolo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitolo" name="titolo" ng-model="ctrl.movie.titolo" placeholder="Titolo" required>
    </div>
   <div class="error" ng-show="ctrl.nuovofilm_form.titolo.$dirty && ctrl.nuovofilm_form.titolo.$invalid">    
		<small class="error" ng-show="ctrl.nuovofilm_form.titolo.$error.required">
			Titolo obbligatorio
		</small>
	</div>    
  </div>
  
  <div class="form-group">
    <label for="inputSottoTitolo" class="col-sm-2 control-label">Sotto Titolo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSottoTitolo" name="sottotitolo" ng-model="ctrl.movie.sottotitolo" placeholder="Sotto Titolo">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputTitoloOriginale" class="col-sm-2 control-label">Titolo originale</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitoloOriginale" name="titolo_originale" ng-model="ctrl.movie.titolo_originale" placeholder="Titolo Originale">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputLingua" class="col-sm-2 control-label">Lingua</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLingua" name="lingua" ng-model="ctrl.movie.lingua" placeholder="Lingua">
    </div>
  </div>

  <div class="form-group">
    <label for="inputSupporto" class="col-sm-2 control-label">Supporto</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSupporto" ng-model="ctrl.movie.posizione" placeholder="Supporto" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputGenere" class="col-sm-2 control-label">Genere</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputGenere" ng-model="ctrl.movie.genere" placeholder="Genere"
      	typeahead="genere as genere.nome for genere in ctrl.getGeneri($viewValue) | limitTo:8 | filter:$viewValue"
      	typeahead-wait-ms="500" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputRegia" class="col-sm-2 control-label">Regia</label>
    <div class="col-sm-10">
		<input type="text" class="form-control" id="inputRegia" ng-model="ctrl.movie.regista" placeholder="Regia" 
			typeahead="regista as regista.nome for regista in ctrl.getRegisti($viewValue) | limitTo:8 | filter:$viewValue" 
			typeahead-wait-ms="500" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputDurata" class="col-sm-2 control-label">Durata</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDurata" ng-model="ctrl.movie.durata" placeholder="Durata" ngMaxlength=8>
    </div>
  </div>
    
  <div class="form-group">
    <label for="inputDataUscita" class="col-sm-2 control-label">Data uscita</label>
    <!--http://angular-ui.github.io/bootstrap/#/datepicker-->
    <p class="input-group" style="width: 946px; margin-left: 210px;">
      <input type="text" class="form-control" 
      	datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.movie.data" 
      	is-open="ctrl.opened" min="'1800-01-01'" max="'2015-06-22'" 
      	datepicker-options="ctrl.dateOptions" date-disabled="ctrl.disabled(date, mode)" 
      	ng-required="true" close-text="Close" show-weeks="false" />
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="ctrl.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>

  <div class="form-group">
    <label for="inputCast" class="col-sm-2 control-label">Cast</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCast" ng-model="ctrl.movie.cast" placeholder="Cast" ngMaxlength=2048>
    </div>
  </div>

  <div class="form-group">
    <label for="inputTrama" class="col-sm-2 control-label">Trama</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputTrama" ng-model="ctrl.movie.trama" placeholder="Trama" ngMaxlength=5012></textarea>
    </div>
  </div>
  
  <div class="form-group" ng-file-drop>
    <label class="col-sm-2 control-label">Locandina</label>    
    <div class="col-sm-10" style="margin-top: 8px; margin-left: -13px;">
      <div class="col-xs-3">
        <input ng-file-select type="file" />
      </div>

      <div class="col-xs-7">
        <div ng-show="uploader.isHTML5">
            <div class="over-zone zone" ng-file-over style="float: left">
              Seleziona un file o trascinalo qui
            </div>
        </div>
      

      <ul class="col-xs-6">
          <li ng-repeat="item in uploader.queue">
              <div>Name: {{ item.file.name }}</div>
              <div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>
              <div ng-show="uploader.isHTML5">
                  Progress: {{ item.progress }}
                  <div class="item-progress-box">
                      <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
              </div>
              <!--div ng-show="controller.isImage(item.file)"-->
                  Thumbnail (only images):
                      <!-- Image preview -->
                      <!--auto height-->
                      <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                      <!--auto width-->
                      <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                      <!--fixed width and height -->
                      <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
              <!--/div-->
              <div>
                  <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                  <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
                  <button ng-click="item.remove()">Remove</button>
              </div>
          </li>
      </ul>
      </div>         
    </div>
  </div> 



  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="ctrl.salva()">Salva</button>
    </div>
  </div>

</form>
